<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOSPITAL LUIS NEREGREIROS - REGION DEL CALLAO</title>
</head>

<body>
  //navbar de la pagina Home
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="navHome">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/paginaGraficoEstadicticos}">Dashboard Hospital</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar-->
    <ul sec:authorize="isAuthenticated()" class="navbar-nav d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-user fa-fw"></i>
          <span th:text="#{barra.bienvenido}">Bievenido:</span>
          <span sec:authentication="name">Usuario</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <form method="POST" th:action="@{/logout}">
              <a href="#" onclick="this.parentNode.submit();" class="dropdown-item">Salir</a>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  //sidevar de la pagina Home
  <div id="layoutSidenav_nav" th:fragment="headerDashboard">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" th:href="@{/paginaGraficoEstadicticos}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Dashboard Administrador
          </a>
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon">
              <i class="fas fa-columns"></i>
            </div>
            Layouts Admin
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{/table-principal}">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-table"></i>
                </div>
                Tables Admin
              </a>
              <a class="nav-link" th:href="@{/table-citados}">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-table"></i>
                </div>
                Tables Patient
              </a>
              <a class="nav-link" th:href="@{/table-consultorios}">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-table"></i>
                </div>
                Tables Consultorios
              </a>
              <a class="nav-link" th:href="@{/table-doctores}">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-table"></i>
                </div>
                Tables Doctores
              </a>
              <a class="nav-link" th:href="@{/table-horarios}">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-table"></i>
                </div>
                Horarios Doctores
              </a>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Addons</div>
          <a class="nav-link" th:href="@{/paginaGraficoEstadicticos}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            Charts
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Administrador
      </div>
    </nav>
  </div>

</body>

</html>