<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WEB HOSPITAL LUIS NEGREIROS</title>
<meta property="og:url" content="http://www.valeron.net/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Gallery Free responsive web template Istria" />
<meta property="og:description" content="Gallery - Free responsive web template Istria by Valeron design studio" />
<meta property="og:image" content="http://www.valeron.net/img/valeron-artist.jpg" />
<meta name="description" content="Free responsive web template Istria by Valeron design studio" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="robots" content="index,follow,all" />
<meta name="keywords" content="Izrada web stranica, web studio Istra" />
<meta name="author" content="Valeron design studio" />
<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/img/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/img/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="/css/grid.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<link rel="stylesheet" href="/css/social.css">
<link rel="stylesheet" href="/css/gallery.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="animsition-overlay">
  <section id="section-6">
    <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
    <header class="main_h">
      <div class="menufix"> <a class="logo" href="index.html"><img src="/img/logo-sample.png" alt="Hello"></a>
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
          <ul>
            <li class="line"><a class="out animsition-link" th:href="@{/login}">SESION</a></li>
            <li class="line"><a class="out animsition-link" th:href="@{/company}">NOSOTROS</a></li>
            <li class="line"><a class="out animsition-link" th:href="@{/service}">ESPECIALIDADES</a></li>
            <li class="line"><a class="out animsition-link" th:href="@{/blog}">BLOG</a></li>
            <li class="line"><a class="out animsition-link" th:href="@{/gallery}">MÉDICOS</a></li>
            <li class="line"><a class="out animsition-link" th:href="@{/contact}">CONTACTANOS</a></li>
            <li><a class="out active animsition-link" th:href="@{/home}">INICIO</a></li>
          </ul>
        </nav>
      </div>
      <!-- / row --> 
      
    </header>
    <div class="grid flex16">
      <div class="row">
        <div class="colw_6">
          <h1 id="title-sub1">HOSPITAL LUIS NEGREIROS VEGA</h1>
          <h2 id="title-sub2">PLANTEL MÉDICO</h2>
        </div>
        <!-- END colw_6 -->
        
        <div class="colw_6 wow zoomIn">
          <div class="box-fix">
            <h3 class="centered"></h3>
            <div class="social"> </div>
          </div>
        </div>
        <!-- END col_6 --> 
        
      </div>
      <!-- END row --> 
    </div>
    <!-- End GRID FLEX --> 
  </section>
  <!-- END #section-2 -->
  
  <div class="grid flex16">
    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall1.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. JOSE TAPIA LEONARDO</h2>
        <P>Medico Cirujano especialista en Cardiología</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>04:15 PM-07:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>02:30 PM-06:30 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>02:30 PM-06:30 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>
    <!-- cd-single-item -->
    
    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider wow fadeInUp">
          <li class="selected"><img class="lazyload" data-src="/img/gall2.jpg" alt="Lorem ipsum dolor sit amet"></li>
        </ul>
        <!-- cd-slider --> 
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. WERNER CALDERÓN MANZANEDO</h2>
        <P>Medico especialista en Cirugía General</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>03:15 PM-05:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>01:30 PM-05:30 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>
    <!-- cd-single-item -->

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall3.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. JUAN CASAS VELASQUEZ</h2>
        <P>Especialidad: Cirugía Plástica y Estética</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>10:00 AM-01:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">SÁBADO</span> <a>10:00 AM-01:00 PM</a> </div>
        
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall4.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. BRIAM VASQUEZ</h2>
        <P>Médico Cirujano especialista en Endocrinología</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>08:30 AM-12:50 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>08:30 AM-12:50 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>08:30 AM-12:50 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall5.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. JORGE MALDONADO ROJAS</h2>
        <P>Medico Cirujano Especialista en Ginecología y Obstetricia</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>04:00 PM-06:40 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>04:00 PM-06:40 PM</a> </div>
        
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall6.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DRA. GLEDY JIMENEZ TORNERO</h2>
        <P>Medico Cirujano Especialista en Hematologia</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>06:15 PM-11:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>06:15 PM-11:00 PM</a> </div>
        
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall7.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. VICTOR ROSAS MARROQUIN</h2>
        <P>Medico Infectologo</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>04:15 PM-07:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MARTES</span> <a>02:30 PM-06:30 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>02:30 PM-06:30 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall8.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. MIGUEL ANGEL SANCHEZ </h2>
        <P>Medico Cirujano especialista en Medicina Física y Rehabilitación</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>04:30 PM-07:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>04:30 PM-07:00 PM</a> </div>
        
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall9.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. WENNER MANUEL CABRERA</h2>
        <P>Médico especialista en Medicina Interna</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>04:00 PM-06:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">SABADO</span> <a>04:00 PM-06:00 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">DOMINGO</span> <a>04:00 PM-06:00 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall10.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. EDWIN PÉREZ TEJADA</h2>
        <P>Medico Cirujano especialista en Nefrología</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>02:00 PM-05:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MARTES</span> <a>02:00 PM-05:00 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>02:00 PM-05:00 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall11.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. DANIEL GARCÉS CARBONELL</h2>
        <P>Medico Cirujano Especialista en Neumólogia</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>09:30 AM-11:45 AM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MARTES</span> <a>09:30 AM-11:45 AM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>09:30 AM-11:45 AM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall12.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. CARLOS FLORES PÉREZ</h2>
        <P>Medico Cirujano Especialista en Neurología</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>09:30 AM-12:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>09:30 AM-12:00 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>09:30 AM-12:00 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall13.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>LIC. ALEXANDER QUISPE RODRÍGUEZ</h2>
        <P>Licenciado en Nutrición Humana</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>09:00 AM-01:45 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MARTESS</span> <a>09:00 AM-01:45 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>09:00 AM-01:45 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>12:00 PM-02:00 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall14.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. FRANCO RAEZ GOYZUETA</h2>
        <P>Cirujano - Dentista</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>04:15 PM-07:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>02:30 PM-06:30 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>02:30 PM-06:30 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall15.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. WUILINTON REÁTEGUI IVAZETA</h2>
        <P>Cirujano Oftalmólogo</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">JUEVES</span> <a>09:00 AM-12:50 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">VIERNES</span> <a>09:00 AM-12:50 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">SABADO</span> <a>02:00 PM-05:00 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall16.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. JORGE BENITES GARCIA</h2>
        <P>Médico Cirujano Oncológico y Mastologo</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">MARTES</span> <a>04:00 PM-05:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>01:30 PM-03:00 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">DOMINGO</span> <a>07:15 PM-08:30 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall17.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>DR. MIGUEL ACUÑA LARA</h2>
        <P>Medico Cirujano Especialista en Otorrinoralingologìa</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">MARTES</span> <a>08:00 AM-11:45 AM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>08:00 AM-11:45 AM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">JUEVES</span> <a>11:30 AM-12:30 PM</a> </div>
        
      </div>
      <!-- cd-item-info --> 
    </section>

    <section class="cd-single-item">
      <div class="cd-slider-wrapper">
        <ul class="cd-slider">
          <li class="selected"><img class="lazyload" data-src="/img/gall18.jpg" alt="Lorem ipsum dolor sit amet" /></li>
        </ul>
        <!-- cd-slider --> 
        
        <a href="#0" class="cd-close">Close</a> </div>
      <!-- cd-slider-wrapper -->
      
      <div class="cd-item-info wow fadeInLeftBig" data-wow-duration="1.4s" data-wow-delay=".3s">
        <h2>LIC. LIZ BARREDA</h2>
        <P>Licenciada en Psicología</P>
        <div class="date"><i class="fa fa-calendar"></i> <span class="italic">LUNES</span> <a>04:00 PM-07:00 PM</a></div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MARTES</span> <a>04:00 PM-07:00 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">MIERCOLES</span> <a>09:30 AM-01:00 PM</a> </div>
        <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">JUEVES</span> <a>09:30 AM-01:00 PM</a> </div>
      </div>
      <!-- cd-item-info --> 
    </section>
    
  </div>
  <!-- END .GRID FLEX --> 
  
</div>
<!-- END .animsition-overla --> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/animsition.min.js"></script> 
<script src="js/jquery.mobile.min.js"></script> 
<script src="js/lazysizes.min.js"></script> 
<script src="js/gallery.js"></script> 
<script type="text/javascript" src="js/jquery.matchHeight-min.js"></script> 
<script src="js/functions.js"></script> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15815880-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>