<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/plantilla_medicos.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container">
            <a class="navbar-brand text-light " href="#">Mi Sitio</a>
            <button class="navbar-toggler text-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light " href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 d-flex justify-content-center">
            <div class="col">
                <div class="card profile-card-1 bg-secondary">
                    <img src="https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80"
                         alt="profile-sample1" class="card-img-top">
                    <a href="index.html" class="img-especialidad">
                        <img src="https://media.licdn.com/dms/image/C4E03AQERYdtGdu1Tqw/profile-displayphoto-shrink_200_200/0/1616079371066?e=1719446400&v=beta&t=WrUlKk6tNLWIVII3GDPfyXHrMYkjfyR5O2w6D4Nr-0s"
                             alt="profile-image" class="profile">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Bekir BAYAR</h5>
                        <p class="card-text">Engineer</p>
                        <div class="icon-block">
                            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card profile-card-1 bg-secondary">
                    <img src="https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80"
                         alt="profile-sample1" class="card-img-top">
                    <a href="index.html" class="img-especialidad">
                        <img src="https://media.licdn.com/dms/image/C4E03AQERYdtGdu1Tqw/profile-displayphoto-shrink_200_200/0/1616079371066?e=1719446400&v=beta&t=WrUlKk6tNLWIVII3GDPfyXHrMYkjfyR5O2w6D4Nr-0s"
                             alt="profile-image" class="profile">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Bekir BAYAR</h5>
                        <p class="card-text">Engineer</p>
                        <div class="icon-block">
                            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card profile-card-1 bg-secondary">
                    <img src="https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80"
                         alt="profile-sample1" class="card-img-top">
                    <a href="index.html" class="img-especialidad">
                        <img src="https://media.licdn.com/dms/image/C4E03AQERYdtGdu1Tqw/profile-displayphoto-shrink_200_200/0/1616079371066?e=1719446400&v=beta&t=WrUlKk6tNLWIVII3GDPfyXHrMYkjfyR5O2w6D4Nr-0s"
                             alt="profile-image" class="profile">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Bekir BAYAR</h5>
                        <p class="card-text">Engineer</p>
                        <div class="icon-block">
                            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card profile-card-1 bg-secondary">
                    <img src="https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80"
                         alt="profile-sample1" class="card-img-top">
                    <a href="index.html" class="img-especialidad">
                        <img src="https://media.licdn.com/dms/image/C4E03AQERYdtGdu1Tqw/profile-displayphoto-shrink_200_200/0/1616079371066?e=1719446400&v=beta&t=WrUlKk6tNLWIVII3GDPfyXHrMYkjfyR5O2w6D4Nr-0s"
                             alt="profile-image" class="profile">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Bekir BAYAR</h5>
                        <p class="card-text">Engineer</p>
                        <div class="icon-block">
                            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="text-center p-3 bg-black text-light">
    <!-- Footer con mensaje de prohibición de copia -->
    <p>&copy; 2024. Todos los derechos reservados. No se permite la reproducción total o parcial.</p>
</footer>

<!-- Scripts de Bootstrap y otros -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>